.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .reservation-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  .reservation-table th,
  .reservation-table td {
    border: 1px solid #ccc;
    padding: 10px 15px;
  }
  
  .reservation-table th {
    background-color: #f2f2f2;
  }
  .icon-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
  }
  
  .icon-btn.edit {
    color: #007bff;
  }
  
  .icon-btn.delete {
    color: #dc3545;
  }
  

  .custom-navbar {
    background-color: black;
  }
  
  .custom-navbar .navbar-nav .nav-link {
    color: white;
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #cccccc;      
  }