
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <a class="navbar-brand" href="/login" style="margin-left: 20px;">Login</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myreservation">My Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="logout()">LogOut</a>
      </li>
      
    </ul>
  </div>
</nav>
<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    


    
    <div class="header">
      <h2>My Reservation</h2>
    </div>
  
    <table class="reservation-table">
      <thead>
        <tr>
          <th>Clincs</th>
          <th>Doctor Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of index">
          <td>{{ product.nameCenter}}</td>
          <td>{{ product.nameDoctor}}</td>
          <td>{{ product.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ '1970-01-01T' + product.time | date:'hh:mm a' }}</td>
          <td>
            <button class="icon-btn edit" (click)="editReservation(product.id)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="icon-btn delete" (click)="deleteReservation(product.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  