.custom-navbar {
    background-color: black;
  }
  
  .custom-navbar .navbar-nav .nav-link {
    color: white;
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #cccccc;      
  }
  body {
    /* background-image: url('./assets/main.jpg'); */
    background-image: url('../assets/main.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* margin: auto; */
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap; /* لتجنب خروج العناصر عن الشاشة */
    gap: 16px;       /* مسافة بين الكروت */
  }
  
  .card {
    width: 300px;      /* تحديد عرض الكارد */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  