<div class="admin-container">

  <!-- Sidebar -->
  <div class="sidebar">
    <h2 class="logo">ADMIN</h2>

    <ul class="menu">
      <li>
       <a routerLink="/dashboard/addmedical" routerLinkActive="active">Add Medical Center</a>
      </li>
      <li>
        <a routerLink="/admin/users" routerLinkActive="active">Add Doctors</a>
      </li>

      

      <li>
        <a class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>

  <!-- Page Content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
