.admin-container {
  display: flex;
  height: 100vh;
  direction: rtl; /* لضبط السايدبار يمين */
}

.sidebar {
  width: 240px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.menu li a.active {
  background-color: #1abc9c;
}

.menu li a:hover {
  background-color: #16a085;
}

.content {
  flex: 1;
  background: #f4f6f7;
  padding: 20px;
}
